h1 {
    border: 6px white dotted;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

html {
    background-color: #000;
}

header {
    margin: 70px;
}

body {
   
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    padding: 0 20px;

}

.container {
    display:flex;
    flex-wrap: wrap;
}

.hero-picker img {
    max-width: 75px;
    height: auto;
}

.col-1-2 {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.sprite {
    max-height: 120px;
}

.villain-sprite-container.Moblin {
  -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.hero-sprite-container,
.villain-sprite-container {
  display: flex;
  justify-content: center;
}


.good-attack {
  transition: 0.5s;
  animation: attack 4s 1;
}

@keyframes attack {
  0% {
    transform: translateX(100px) rotateY(0deg);
  }

  49% {
    transform: translateX(500px) rotateY(0deg);
  }

  50% {
    transform: translateX(500px) rotateY(360deg);
  }

  100% {
    transform: translateX(100px) rotateY(360deg);
  }
}

.bad-attack {
  transition: 0.5s;
  animation-delay: 8s;
  animation: deff 4s 1;
}

@keyframes deff {
  0% {
    transform: translateX(100px) rotateY(0deg);
  }

  49% {
    transform: translateX(-500px) rotateY(0deg);
  }

  50% {
    transform: translateX(-500px) rotateY(360deg);
  }

  100% {
    transform: translateX(100px) rotateY(360deg);
  }
}

.health {
    display: none;
}

.player-info {
    margin-top: 100px;
    display: none;
}

a.attack-button {
    background: red;
    color: white;
    padding: 20px;
    border-radius: 12px;
   
}

a.attack-button.disabled {
    background-color: #cccccc;
    color: #666666;
}


@keyframes pulse
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}

.health-bar {
    display: block;
    height: 20px;
    background-color:gray;
    border:1px solid white;
    margin-bottom: 20px;
}

.health-status {
    display: block;
    height: 20px;
    background-color: #4CAF50;
    width: 100%;
}

.attack-effect {
  background-color: #8e4c4c78;
  animation: pulse 5s infinite;
}

.attack-effect img{
    opacity: 0.5;
    filter: alpha(opacity=50);
}
